<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feed-posts">
    <h4>Posts</h4>
    <% if(user){%>
    <form action="/posts/create" id="new-post-from" method="POST">
      <textarea name="content" cols="30" rows="3"></textarea>
      <input type="submit" value="Post" />
    </form>

    <%}%>

    <div id="posts-lists-container">
      <ul>
        <% for(post of posts){ %>
        <li>
          <p>
            <% post.content %>
            <br />
            <small> <%= post.user.name %> </small>
          </p>
          <div class="post-comments">
            <form action="/comments/create" method="POST">
              <input
                type="text"
                name="content"
                placeholder="Type here to add comment..."
              />
              <input type="hidden" name="Post" value="<%= post._id %>" />
              <input type="submit" value="Add Comment" />
            </form>
          </div>
        </li>
        <%}%>

        <div class="post-comments-list">
          <ul class="post-comments-<%= post._id %>">
            <% for (comment of post.comments) {%>
            <p>
              <%= comment.content %>
              <br />
              <small> <%= comment.user.name %> </small>
            </p>
            <}>
          </ul>
        </div>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users) {%>
    <p>
      <a href="/users/profile/<%= u.id %>"></a>
    </p>
    <%} %>
  </section>
</div>
<script src="/assets/js/home_posts.js"></script>
